<div class="section">
  <div class="container">
    <div class="content">
      <h2 class="page-title">Authors</h2>

      {{#link-to "author.new" class="new-link"}}Add Author{{/link-to}}
    </div>

    <div class="author-list">
      {{#each model as |author|}}
        <div class="author-list__item">
          <div class="box {{if author.isDeleted "is-deleting"}} author-box">
            <p class="author-name">
              {{author.firstName}} {{author.lastName}}
            </p>
            {{#link-to "author.detail" author.id class="author-link"}}See Books{{/link-to}}
            <button class="button is-danger delete author-delete" data-id="{{author.id}}" {{action "destroy" author}}></button>

          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
